/* for footer style */

footer {
	color: white;
	border-top: 1px solid #CCCCCC;
	position: fixed;
	height: 60px;
	bottom: 0;
	width: 100%;
	background: #00FF00;
	display: flex;
	justify-content: center;
	align-items: center;
}
